body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

select, input, button {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    text-align: left;
}
